<!-- <div #el>
    <p>{{data}}</p>
</div>
    <app-child #child>
        <div>From Parent</div>
        <p>P Tag From Parent</p>
        <app-childofchild  class="div"></app-childofchild>
        <app-childofchild class="div"></app-childofchild>
        <app-childofchild class="div"></app-childofchild>
        <app-childofchild class="div"></app-childofchild>
        <app-childofchild class="div"></app-childofchild>
        <app-childofchild class="div"></app-childofchild>
    </app-child>
<div>
    <button (click)="addChildren()">Add</button>
    Every 15 click change will appear
    <button (click)="updateChildren()">Update</button>
   <app-multi [input]="children" [name]="name" (output)="emit($event)"></app-multi>
</div>

<button (click)="nameChange()">change</button> -->
<app-dynamic-form [formInputs]="formInputs"></app-dynamic-form>