.p5{
    padding-top: 5px;
    padding-bottom: 15px;
}

.submit{
    display:flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top:20px;
}

.label{
    display:block !important;
}

.errorMsg{
    color: red;
    font-size: 12px;
    font-weight: 500;
}

input{
    width: 100%;
}

select{
    width: 100%;
}