<form [formGroup]="myForm">
    <div class="container">
        <div class="row">
            <ng-container *ngFor="let item of formInputs;let i =index;">
                <div [class]="item['class']+' p5'" *ngIf="item.display">
                    <label class="label">{{item['displayName']}}</label>
                    <ng-template [ngIf]="['text','number','date'].includes(item['type'])" >
                        <input [type]="item['type']" [formControlName]="item.name">
                        <ng-container *ngTemplateOutlet="errorMsg;context:{item:item}"></ng-container>
                    </ng-template>
                    <ng-template [ngIf]="item['type']=='select'">
                        <select [formControlName]="item.name" (change)="formUpdating(item)">
                            <option *ngFor="let opt of item.options" [value]="opt.id">{{opt.name}}</option>
                        </select>
                        <ng-container *ngTemplateOutlet="errorMsg;context:{item:item}"></ng-container>
                    </ng-template>
                </div>
            </ng-container>
            <div class="submit">
                <button [disabled]="!myForm.valid" (click)="submit()">submit</button>
            </div>
        </div>
    </div>
</form>

<ng-template #errorMsg let-item="item" let-form="form">
    <div *ngIf="f[item['name']].errors" class="errorMsg">
        <div *ngIf="f[item['name']].errors?.required">{{item['displayName']}} is required</div>
        <div *ngIf="f[item['name']].hasError('min')">{{item['displayName']}} must be at least {{item['validation']['minValue']}} </div>
        <div *ngIf="f[item['name']].hasError('max')">{{item['displayName']}} must be less than {{item['validation']['maxValue']}}</div>
        <div *ngIf="f[item['name']].hasError('pattern')">Pattern is invalid</div>
        <div *ngIf="f[item['name']].hasError('minlength')">{{item['displayName']}} must be at least {{item['validation']['minLength']}} characters</div>
        <div *ngIf="f[item['name']].hasError('maxlength')">{{item['displayName']}} must be less than {{item['validation']['maxLength']}} characters</div>
    </div>
</ng-template>